// <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
// <!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
// <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
// <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
// <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
// <!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
// <!-- * * * * * * * to get started with your project! * * * * * * * * -->
// <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.content {
  margin: 0;
  padding: 5% 16px 5% 16px;
  // align-items: center;
  background-image:url(https://d.facdn.net/art/ranthfox/1501538083/1501536112.ranthfox_renamon_wallpaper_ver-2.png);
  height: -webkit-fill-available;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
